$bg: purple;
$padding: 5px;

$wrap: 5%;

$th-bg: blue;
$th-color: white;
$td-padding: 5px;

$label-color: #333;

$input-bg: linear-gradient(to bottom, #fffdfd 0%, #fff4f4 100%);

$button-bg: linear-gradient(to bottom right, #ac2c2c 0%, #6b1039 100%);
$button-hover-bg: linear-gradient(to bottom right, #ac2c2c 0%, #6b1039 100%);
$button-padding: 4px 8px;
$button-shadow: 1px 1px 3px #CCC;
$button-trans: background 0.25s ease;

$shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);