@use "normalize";
@use "vars" as *;
@use "standard";

$primary: blue;
$secondary: orange;

header{background: $primary;}
footer{background: navy; height: 75px;}
main{color: black;}
#b{height: 300px;}

$background-color: antiquewhite;
$text-color: white;

body {
  background-color: $background-color;
  color: $text-color;
}

a{color: $primary;}